nav{
    border: 2px;
    border-style: solid;
    width: 75%;
}


header{
    text-align: center;
}

footer{
    border: 2px;
    border-style: solid;
}
/*
everything in the header needs to be centered
everything in footer needs to be centered

*/