nav{
    border: 2px;
    border-style: solid;
}

header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 98%
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 98%
}

footer{
    border: 2px;
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 98%

}

#courseColumn{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px; 
}

.courseDescription{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}